/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** end reset css**/

:root {
    --main-bg-color: #fffef8;
}

html{
    background-color: white;
}

body {
    max-width: 1440px;
    margin: auto;
    font-family: "Work Sans";
    font-size: 14px;
    background-color: var(--main-bg-color);
}

header {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    padding-top:50px;
    margin: 0 auto 140px;
}

main {
    max-width: 1140px;
    margin: auto;
}
section {
    margin: 50px 0;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: "Syne";
    font-size: 22px;
    font-weight: 800;
    color: #b1663c;
}

h1 > span {
    font-family: "Work Sans";
    font-size: 10px;
    letter-spacing: 0.05em;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.05em;
}

h2 {
    font-family: "Syne";
    font-weight: 700;
    font-size: 30px;
    color: #1d6154;
}
nav ul {
    display: flex;
    justify-content: space-between;
    gap: 44px;
    align-items: center;
    list-style-type: none;
}
nav li :not(img) {
    font-size: 1.2em;
    width: 55px;
    text-align: center;
}

nav li img {
    width: 22px;
}

li:hover {
    font-weight: bold;
    cursor: pointer;
}
#introduction {
    display: flex;
    justify-content: space-between;
    gap: 72px;
    align-items: center;
    margin: 0 95px 140px 95px;
}
#introduction figure {
    flex: 1;
}
#introduction img {
    display: block;
    margin: auto;
    width: 100%;
}

#introduction article {
    flex: 1;
}

#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 16.42px;
}

#portfolio {
    margin: 0 95px 60px;
}
#portfolio h2 {
    text-align: center;
    margin-bottom: 50px;
}

/* =========================================== */
/* FILTER BAR */
/* =========================================== */
.filter-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

/* FILTER BUTTONS */
.filter-bar button {
    font-family: "Syne";
    font-size: 16px;
    font-weight: 700;
    color: #1d6154;
    min-width: 100px;
    padding: 10px;
    border: 1px solid rgb(29, 97, 84);
    border-radius: 60px;
    text-align: center;
}

.filter-bar button:hover {
    box-shadow: 0 8px 12px 0 rgba(29, 97, 84, 0.24),
        0 12px 30px 0 rgba(29, 97, 84, 0.19);
}

.filter-bar .button-active {
    color: white;
    background-color: #1d6154;
}

.filter-bar button:hover {
    cursor: pointer;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img {
    width: 100%;
}
#contact {
    width: 50%;
    margin: auto;
}
#contact > * {
    text-align: center;
}
#contact h2 {
    margin-bottom: 20px;
}
#contact form {
    text-align: left;
    display: flex;
    flex-direction: column;
}

#contact input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
    margin: 40px 0 1em 0;
}
#contact textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
    font-family: "Syne";
    font-weight: 700;
    color: white;
    background-color: #1d6154;
    margin: 40px auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
}

/* =========================================== */
/* FORM */
/* =========================================== */
.login-form {
    margin: 200px auto;
    width: 380px;
}

.login-form h2 {
    margin-bottom: 35px;
    text-align: center;
}

.login-form form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.login-form label {
    font-family: "Work Sans";
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.login-form form input {
    box-shadow: 0px 4px 14px 0px #00000017;
    width: 380px;
    height: 50px;
    border: none;
    padding: 0 10px;
    margin-bottom: 30px;
}

.login-form form input[type="submit"] {
    width: 180px;
    height: 36px;
    margin-top: 10px;
    cursor: pointer;
}

.login-form form input[type="submit"]:hover {
    box-shadow: 0 8px 12px 0 rgba(29, 97, 84, 0.24),
        0 12px 30px 0 rgba(29, 97, 84, 0.19);
}

.forgotten-password {
    text-align: center;
    font-weight: 500;
    text-decoration: underline;
}

/* =========================================== */
/* FOOTER */
/* =========================================== */

footer {
    background-color: white;
    height: 60px;
    max-width: 1440px;
    align-content: center;
    padding: 0 95px;
}
footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em;
}
