/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** end reset css**/

:root {
    --main-bg-color: #fffef8;
}

html {
    background-color: white;
}

body {
    max-width: 1440px;
    margin: auto;
    font-family: "Work Sans";
    font-size: 14px;
    background-color: var(--main-bg-color);
}

/* =========================================== */
/* HEADER */
/* =========================================== */

.header-logo-nav {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin: 0 auto 140px;
}

.header-logo-nav a {
    text-decoration: none;
}

.header-logo-nav li {
    font-size: 16px;
}

.header-logo-nav .active-page {
    font-weight: bold;
}

.edition-mode {
    background-color: black;
    height: 60px;
    align-content: center;
}

.edition-mode p {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: center;
}

.edition-mode i {
    margin-right: 10px;
}

main {
    max-width: 1140px;
    margin: auto;
}

section {
    margin: 50px 0;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: "Syne";
    font-size: 22px;
    font-weight: 800;
    color: #b1663c;
}

h1 > span {
    font-family: "Work Sans";
    font-size: 10px;
    letter-spacing: 0.05em;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.05em;
}

h2 {
    font-family: "Syne";
    font-weight: 700;
    font-size: 30px;
    color: #1d6154;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 44px;
    align-items: center;
    list-style-type: none;
}

nav li :not(img) {
    font-size: 16px;
    width: 55px;
    text-align: center;
}

nav li img {
    width: 22px;
}

li:hover {
    font-weight: bold;
    cursor: pointer;
}

#introduction {
    display: flex;
    justify-content: space-between;
    gap: 72px;
    align-items: center;
    margin: 0 95px 140px 95px;
}

#introduction figure {
    flex: 1;
}

#introduction img {
    display: block;
    margin: auto;
    width: 100%;
}

#introduction article {
    flex: 1;
}

#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 16.42px;
}

/* =========================================== */
/* PORTFOLIO */
/* =========================================== */

#portfolio {
    margin: 0 95px 60px;
}

.portfolio-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

.portfolio-title .ghost-element {
    margin-right: auto;
    visibility: hidden;
}

.portfolio-title .portfolio-modify {
    margin-right: auto;
}

.portfolio-title .portfolio-modify i {
    margin-right: 10px;
}

.portfolio-title a {
    text-decoration: none;
    color: black;
}

#portfolio h2 {
    display: flex;
    text-align: center;
    margin: 0 30px;
}

/* =========================================== */
/* FILTER BAR */
/* =========================================== */
.filter-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    margin-bottom: 50px;
}

/* FILTER BUTTONS */
.filter-bar button {
    font-family: "Syne";
    font-size: 16px;
    font-weight: 700;
    color: #1d6154;
    min-width: 100px;
    padding: 0 10px;
    border: 1px solid rgb(29, 97, 84);
    border-radius: 60px;
    text-align: center;
    align-content: center;
    height: 37px;
}

.filter-bar button:hover {
    box-shadow: 0 8px 12px 0 rgba(29, 97, 84, 0.24),
        0 12px 30px 0 rgba(29, 97, 84, 0.19);
}

.filter-bar .button-active {
    color: white;
    background-color: #1d6154;
}

.filter-bar button:hover {
    cursor: pointer;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 45px;
}

.gallery img {
    width: 100%;
}

#contact {
    width: 50%;
    margin: auto;
}

#contact > * {
    text-align: center;
}

#contact h2 {
    margin-bottom: 20px;
}

#contact form {
    text-align: left;
    display: flex;
    flex-direction: column;
}

#contact input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
    margin: 40px 0 1em 0;
}

#contact textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
    font-family: "Syne";
    font-weight: 700;
    color: white;
    background-color: #1d6154;
    margin: 40px auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
}

/* =========================================== */
/* LOGIN FORM */
/* =========================================== */
.login-form {
    margin: 200px auto;
    width: 380px;
}

.login-form h2 {
    margin-bottom: 5px;
    text-align: center;
}

.login-form form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.login-form label {
    font-family: "Work Sans";
    font-size: 14px;
    font-weight: 500;
    margin: 30px 0 10px;
    color: #3d3d3d;
}

.login-form form input {
    box-shadow: 0px 4px 14px 0px #00000017;
    width: 380px;
    height: 50px;
    border: none;
    padding: 0 10px;
}

.login-form form input[type="submit"] {
    width: 180px;
    height: 36px;
    margin-top: 10px;
    cursor: pointer;
}

.login-form form input[type="submit"]:hover {
    box-shadow: 0 8px 12px 0 rgba(29, 97, 84, 0.24),
        0 12px 30px 0 rgba(29, 97, 84, 0.19);
}

.forgotten-password {
    text-align: center;
    font-weight: 500;
    text-decoration: underline;
}

.invalid-user {
    margin: 5px 0;
    color: red;
    text-align: center;
    font-weight: bold;
    visibility: hidden;
}

/* =========================================== */
/* MODAL */
/* =========================================== */

/* body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

:focus {
    box-shadow: 0 0 10px blue;
} */

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    animation: fadeIn 0.3s both;
}

.modal-wrapper {
    overflow: auto;
    width: 630px;
    border-radius: 10px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    padding: 20px;
    background-color: white;
    animation: slideFromTop 0.3s both;
}

.modal[aria-hidden="true"] {
    animation-name: fadeOut;
}

.modal[aria-hidden="true"] .modal-wrapper {
    animation-name: slideToBottom;
}

.modal-header {
    margin: 26px 10px 10px;
    display: flex;
    justify-content: space-between;
}

.modal-header button {
    background-color: white;
    border: none;
    cursor: pointer;
}

.modal-galery .modal-header {
    justify-content: right;
}

.modal-wrapper h1 {
    font-family: "Work Sans";
    font-size: 26px;
    font-weight: 400;
    color: black;
    text-align: center;
    margin-bottom: 45px;
}

.modal-portfolio {
    width: 420px;
    margin: 0 auto 70px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}

.modal-portfolio div {
    width: 18%;
}

.modal-portfolio img {
    width: 100%;
}

.modal-addPhoto form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.modal-addPhoto label {
    font-family: "Work Sans";
    font-size: 14px;
    font-weight: 500;
    margin: 30px 0 10px;
    color: #3d3d3d;
}

.modal-addPhoto form input[type="submit"] {
    width: 180px;
    height: 36px;
    margin-top: 10px;
    cursor: pointer;
}

.modal-bottom-button {
    width: 400px;
    margin: auto;
    border-top: 1px solid #b3b3b3;
    padding: 35px 0 25px;
    display: flex;
    justify-content: center;
}

.modal-btnAddPhoto {
    font-family: "Syne";
    font-weight: 700;
    font-size: 14px;
    width: 240px;
    height: 36px;
    cursor: pointer;
    color: white;
    background-color: #1d6154;
    border-radius: 60px;
    border: none;
}

.modal-btnAddPhoto:hover {
    box-shadow: 0 8px 12px 0 rgba(29, 97, 84, 0.24),
        0 12px 30px 0 rgba(29, 97, 84, 0.19);
}

.modal-button-trash {
    width: 17px;
    height: 17px;
    border-radius: 2px;
    border: none;
    position: relative;
    top: -80%;
    left: 70%; 
    background-color: black;
    z-index: 1;
    cursor: pointer;
    color: white;
    padding: 0;
}

.modal-button-trash:hover {
    color: black;
    background-color: white;
}

.modal-imagePicker {
    width: 420px;
    max-height: 170px;
    background-color: #e8f1f6;
    border-radius: 3px;
    margin-bottom: 30px;
    margin: auto;
}

.modal-setImage {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.modal-setImage img {
    width: 76px;
}

.modal-setImage button {
    font-family: "Work Sans";
    font-weight: 500;
    font-size: 14px;
    width: 240px;
    height: 36px;
    cursor: pointer;
    color: #306685;
    background-color: #cbd6dc;
    border-radius: 60px;
    border: none;
}

.modal-setImage p {
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 10px;
}

.modal-setImage input[type="file"]::file-selector-button {
    font-family: "Work Sans";
    font-weight: 500;
    font-size: 14px;
    width: 240px;
    height: 36px;
    cursor: pointer;
    color: #306685;
    background-color: #cbd6dc;
    border-radius: 60px;
    border: none;
}

.modal-displayImage {
    display: none;
    justify-content: center;
}

.modal-displayImage img {
    max-width: 420px;
    max-height: 170px;
}

.modal-addForm {
    width: 420px;
    margin: auto;
}

.modal-addForm input,
select {
    box-shadow: 0px 4px 14px 0px #00000017;
    height: 50px;
    border: none;
    padding: 0 10px;
    color: #444444;
    box-shadow: 0px 4px 14px 0px #00000017;
}

.modal-line {
    width: 400px;
    margin: 45px 0 35px;
    border-top: 1px solid #b3b3b3;
    display: flex;
    justify-content: center;
}

.modal-addForm form input[type="submit"] {
    margin: 0 auto 0;
    width: 240px;
    color: white;
}

.modal-addForm form input[type="submit"]:disabled {
    background-color: #a7a7a7;
}

.modal-addForm form input[type="submit"]:enabled {
    background-color: #1d6154;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slideFromTop {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes slideToBottom {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(50px);
    }
}

/* =========================================== */
/* FOOTER */
/* =========================================== */

footer {
    background-color: white;
    height: 60px;
    max-width: 1440px;
    align-content: center;
    padding: 0 95px;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em;
}
